.user-page_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.user-page_user-info{
    padding: 20px;
    width: 100%;
    background-color: #ff3d9e17;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.user-page_avatar{
    width: 64px;
    height: 64px;
    border: 2px solid #FFFFFF;
    background-color: #ff3d9e;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-page_avatar-text{
    font-size: 30px;
    font-weight: 500;
    color: #FFFFFF;
}

.user-page_user-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.user-page_username{
    font-weight: 600;
    font-size: 20px;
}

.user-page_email{
    font-size: 14px;
    font-style: italic;
}

.user-page_content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.user-page_menu-container{
    width: 200px;
}

.user-page_menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.user-page_menu-link{
    width: 100%;
    color: #000000;
}

.user-page_menu-link:hover{
    color: #ff3d9e;
}

.user-page_menu-link.active{
    color: #ff3d9e;
}

.user-page_subpage{
    width: calc(100% - 200px - 20px);
}

@media screen and (max-width: 768px){
    .user-page_menu-container{
        display: none;
    }

    .user-page_subpage{
        width: 100%;
    }
}