.product_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.product_header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.product_images{
    width: 100%;
    max-width: 384px;
}

.product_image{
    width: 100%;
    max-width: 384px;
}

.product_data{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.product_variants{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.product_variant{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border: 2px solid #CCCCCC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.product_variant-img{
    width: 32px;
    height: 32px;
    border-radius: 5px;
}

.product_price{
    font-size: 24px;
    font-weight: 600;
    color: #ff3d9e;
}

.product_variant-input{
    display: none;
}

.product_variant:has(.product_variant-input:checked){
    border: 2px solid #ff3d9e;
}

.product_buttons-buy{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.product_main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.product_params{
    width: 100%;
    padding: 10px;
    background-color: #EEEEEE;
    border-radius: 10px;
}

.product_params-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 20px;
}

.product_param{
    width: 480px;
}

.product_button-buy{
  background-color: #ff3d9e;
  border: 1px solid #ff3d9e;
  border-radius: 5px;
  outline: 0;
  color: #ffffff;
  cursor: pointer;
  transition:
    color 0.25s linear,
    background-color 0.25s linear;
}

.product_button-buy:hover {
  border: 1px solid #ff3d9e;
  background-color: #ffffff;
  color: #ff3d9e;
}


@media screen and (max-width: 640px){
    .product_header{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    .product_param{
        width: 240px;
    }
}