.modal_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: #00000088;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    max-width: 640px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 0 10px;
}

.modal_header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal_body{
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.modal-input_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.modal-input_container label{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.modal-input_label-field{
    width: calc(100% - 110px);
    padding: 10px 15px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
}

.modal-input_label-field:-webkit-autofill,
.modal-input_label-field:-webkit-autofill:hover,
.modal-input_label-field:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 30px #ffffff inset;
}

.modal-input_label-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
    width: 110px;
}

.modal-checkbox_label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.modal-checkbox_label-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
}

.modal-input_error{
    color: #FF0000;
    font-size: 12px;
}

.modal_footer{
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #CCCCCC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}