.logo-rs {
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-top: 400px;
    transition: transform 0.2s ease;
}
.logo-rs:hover {
    transform: scale(1.05);
}
.about__wrapper{
	width: 90%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin:auto;
	padding: 20px;
	gap: 20px;
}
.about__title{
	font-weight: 500;
	font-size: 24px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	color: #532d2d;
	margin: 10px auto;
}
.about__subtitle {
	width: 85%;
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	color: #532d2d;
	margin: 10px auto;
}
.about__list{
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
}

.about__item{
	width: 30%;
	padding-left: 0;
	display: flex;
	align-items:stretch;
	flex-direction: column;
	margin-top: 0;
	}
.customer__header{
	height: 280px;
}
.customer__foto{
	width: 150px;
	height: auto;
	border: 1px solid hsl(0, 1%, 66%);
	border-radius: 10px;
}
.customer__name{
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	color: #ff3d9e;
	margin: 10px auto;
}
.customer__about{
	color: #888888;
	font-style: italic;
}
.customer__about:hover{
	color: #ff3d9e;
	font-style: italic;
}
.customer__contributions{
	list-style-type: circle;
	padding-left: 19px;
	padding-bottom: 40px;
	margin-bottom: auto;
}
.customer__task{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	text-align: left;
	color: #333333;
	margin-top: 8px;
}
.customer__task:hover{
	color: #ff3d9e;
	font-style: italic;
}
.customer__task::marker{
	font-size: 16px;
	color: #ff3d9e;
}

.customer__link{
	font-size: 16px;
	background-color: #ff3d9e;
	border: 1px solid #ff3d9e;
	border-radius: 5px;
	padding: 10px 70px;
	outline: 0;
	color: #ffffff;
	cursor: pointer;
	transition: color 0.25s linear, background-color 0.25s linear;
  text-decoration: none;
}
.customer__link:hover{
	border: 1px solid #ff3d9e;
	background-color: #FFFFFF;
	color: #ff3d9e;
}
@media (max-width: 1000px) {
	.about__title{
		font-size: 20px;
	}
	.about__subtitle{
		font-size: 18px;
		line-height: 20px;
		width: 80%;
	}
	.about__list{
		width: 90%;
		display: block;	
		cursor: pointer;
	}

	.about__item{
		align-items: flex-start;
		padding: 20px;
		width: 90%;
		border: 1px solid hsl(0, 1%, 66%);
		border-radius: 10px;
		margin: 20px 0;
	}

	.customer__header{
		display: flex;
		height: auto;
	}

	.customer__about{
		margin-bottom: 0;
	}

	.customer__foto{
		margin-right: 20px;
		}

		.customer__contributions{
			padding-bottom: 25px;
		}

		.customer__link{
			padding: 10px;
		}
}

@media (max-width: 700px) {
	.about__title{
		font-size: 18px;
	}
	.about__subtitle{
		font-size: 16px;
		line-height: 18px;
		width: 88%;
	}
	.customer__header{
		display: block;
	}
	.customer__name,
  .customer__task{
		font-size: 13px;
		line-height: 15px;
	}
	.customer__link{
		padding: 8px;
		font-size: 12px;
	}
}