.product-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.product-list_search{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-list_search-field{
    outline: 0;
    width: 100%;
    max-width: 360px;
    padding: 10px 15px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #333333;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.product-list_search-field:-webkit-autofill,
.product-list_search-field:-webkit-autofill:hover,
.product-list_search-field:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 30px #ffffff inset;
}

.product-list_search-button{
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 0;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background-color 0.25s linear;
}

.product-list_search-button svg{
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
}

.product-list_search-button:hover{
    background-color: #ff3d9e;
}

.product-list_area{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.product-list_pagination{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.product-list_page-size{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.product-list_page-select{
    outline: 0;
    padding: 10px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
}

.product-list_page-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pagination-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    height: 40px;
    border: 0;
    outline: 0;
    transition: background-color 0.25s linear;
}

.pagination-button.pagination-button__active{
    background-color: #ff3d9e;
    color: #FFFFFF;
}

.pagination-button:hover{
    background-color: #ff3d9e;
    color: #FFFFFF;
}

.pagination-button svg{
    width: 16px;
    height: 16px;
    fill: #000000;
}

.pagination-button:hover svg{
    fill: #FFFFFF;
    stroke: #FFFFFF
}

.pagination-button:disabled{
    background-color: #DDDDDD;
    cursor: default;
}

.pagination-button:disabled svg{
    fill: #BBBBBB
}