.header {
  width: 100%;
  height: 64px;
  padding: 10px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header_logo {
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
  transition: color 0.15s linear;
}

.header_logo:hover {
  color: #ff3d9e;
}

.header_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.header_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.header_username {
  font-weight: 600;
}

.nav__button_primary {
  background-color: #ff3d9e;
  border: 1px solid #ff3d9e;
  border-radius: 5px;
  outline: 0;
  color: #ffffff;
  cursor: pointer;
  transition:
    color 0.25s linear,
    background-color 0.25s linear;
}

.nav__button_primary:hover {
  border: 1px solid #ff3d9e;
  background-color: #ffffff;
  color: #ff3d9e;
}

.nav__button_secondary {
  background-color: #ffffff;
  border: 1px solid #ff3d9e;
  border-radius: 5px;
  outline: 0;
  color: #ff3d9e;
  cursor: pointer;
  padding: 5px 10px;

  transition:
    color 0.25s linear,
    background-color 0.25s linear;
}

.nav__button_secondary:hover {
  border: 1px solid #ff3d9e;
  background-color: #ff3d9e;
  color: #ffffff;
}

.header_cart-button{
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  background-color: transparent;
  position: relative;
}

.header_cart-button svg{
  stroke: #000000;
  width: 32px;
  height: 32px;
  transition: stroke 0.25s linear;
}

.header_cart-button:hover svg{
  stroke: #ff3d9e;
}

.header_cart-button-mark{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  background-color: #ff3d9e;
  border-radius: 50%;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .header {
    height: 48px;
    padding: 10px 8px;
  }

  .header_logo {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.5px;
  }

  .header_nav {
    gap: 8px;
  }

  .nav__button_primary,
  .nav__button_secondary {
    padding: 5px 10px;
    font-size: 14px;
  }
}
